<section id="portfolio" class="section portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 portfolio-item"> <a target="blank" href="http://blog.tech-camp.in/?p=665" class="portfolio-link">
        <div class="caption">
          <div class="caption-content">
            <h3>秒恋</h3>
            <h4>あなたは２秒で恋人ができる。</h4>
            <h4>審査員賞受賞 審査員：桂 大介（株式会社リブセンス 取締役)</h4>
          </div>
        </div>
        <img src="<%= asset_path("byokoi2.png") %>" class="img-responsive" alt=""> </a>
      </div>
    </div>
  </div>
</section>