<section id="portfolio" class="section portfolio photo-graphic">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("labtorelax.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12 col-md-12 portfolio-item graphic-item">
        <img src="<%= asset_path("lightPeople.png") %>" class="img-responsive" alt="">
      </div>
    </div>
  </div>

</section>
<!-- portfolio grid section -->

