// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: rgb(255, 255, 255);
}

.my-links {
  width: 283px;
  margin: auto;
}

.my-links li {
  float: left;
  margin-right: 10px;
  background-color: rgb(245, 245, 245);
  padding: 0px 5px;
  border-radius: 3px;
  margin-top: 5px;
}

.programingList li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.hearder-title {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(31, 55, 69, 0.4) !important;
}

@media all and (min-width: 800px) {
  .photo-graphic {
      width: 50% !important;

  }
}

@media screen and (max-width: 320px) {
  .photo-graphic {
    width: 80% !important;

  }
  body {
    padding: 0px;
  }
}

.graphic-item {
  margin-bottom: 50px !important;
}

.articleTitle {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.articleText {
  margin-bottom: 40px;
}

.hinano-body {

}

@media all and (min-width: 800px) {
  .hinano-body {
      width: 80% !important;

  }
}

@media screen and (max-width: 320px) {
  .hinano-body {
    width: 80% !important;

  }
}


.album-items {
  margin-top: 30px;
}

.album-image {
  height: 180px;
}

.album-item {
  padding: 0px;
  background-color: white;

}

.album-thum {
  border: none;
  padding: 14px;

}

.album-mess {
  padding-top: 10px;
  font-size: 12px;
}

.cards {
  margin: 0 auto;
  width: 100%;
}
.card {
  width: 20%;  
  overflow: hidden;
}


//ここから

#wrapper {
    width: 100%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}
 
#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}
 
.pin {
    display: inline-block;
    background: #FEFEFE;
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
     
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
 
.pin img {
    width: 100%;
    padding-bottom: 7px;
    margin-bottom: 5px;
}
 
.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}
 
@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
 
@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
 
// #columns:hover .pin:not(:hover) {
//     opacity: 0.4;
// }

.hina-messe {
  .title {
    letter-spacing: 5px;
    padding-top: 10px; 
    padding-bottom: 10px;
    font-weight: bold;
    color: black;
    font-size: 30px;
  }
  padding: 10px;
  background-color: white;

  .from {
    text-align: right;
  }
}

.hina-middle {
  padding-top: 50xp;
  text-align: center;
  color: rgb(10, 10, 10);
  font-weight: bold;
  line-height: 50px;

  .title {
    padding-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-size: 30px;
  }
}