// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.programingList li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.hearder-title {
  color: white !important;
  text-shadow: 1px 1px 1px rgba(31, 55, 69, 0.4) !important;
}

@media all and (min-width: 800px) {
  .photo-graphic {
      width: 50% !important;

  }
}

@media screen and (max-width: 320px) {
  .photo-graphic {
    width: 80% !important;

  }
}

.graphic-item {
  margin-bottom: 50px !important;
}

.articleTitle {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.articleText {
  margin-bottom: 40px;
}